body {
    font-family: 'Courier New', Courier, monospace;

    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fridge-display {
    width: 800px;
    height: 500px;
    border: 2px solid #000;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.clock {
    font-size: 24px;
    margin-bottom: 10px;
}
.temperature {
    font-size: 24px;
    margin-top: 5px;
}
.on-off {
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: grey;
    color: white;
}

.on-off:hover {
    background-color: rgb(70, 70, 70);
}
.button-panel {
    display: flex;
    gap: 10px;
}
.buttons button {
    padding: 10px 20px;
    font-size: 14px;
}
.image-display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#image {
    width: 300px;
    height: auto;
    display: none;
}
#image.fridge {
    width: 150px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}